@font-face{
	font-family: Myriad Pro Regular;
	src:url(../fonts/Myriad-Pro-Regular.ttf);
	src:url(../fonts/Myriad-Pro-Regular.eot);
	src:url(../fonts/Myriad-Pro-Regular.svg);
	src:url(../fonts/Myriad-Pro-Regular.woff);
	src:url(../fonts/Myriad-Pro-Regular.woff2);
}